<div *ngIf="selectedProducts.length; else showCartEmptyTemplate">
  <div class="flexi-container">
    <div>
      <table>
        <tbody>
          <tr *ngFor="let product of selectedProducts" class="product-items-block">
            <td>{{ product.name }}</td>
            <td>
              <button class="btn btn-sm btn-outline-primary" type="button" (click)="removeQuantity(product)"
                [disabled]="product.selectedQuantity ==0">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
              <input type="number" name="count" id="count" [(ngModel)]="product.selectedQuantity" min="1" max="10"
                readonly />
              <button class="btn btn-sm btn-outline-primary" type="button" (click)="addQuantity(product)"
                [disabled]="product.quantity == 0">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bordered">
      <table>
        <thead>
          <tr class="product-head-block">
            <td>Summary</td>
          </tr>
        </thead>

        <tr *ngFor="let product of selectedProducts">
          <td class="product-name-decor">{{ product.name }}</td>
          <td>X {{ product.selectedQuantity }}</td>
          <td>:{{ product.price * product.selectedQuantity }}</td>
        </tr>
        <tr class="underlined">
          <td>Total</td>
          <td></td>
          <td>:{{ total }}</td>
        </tr>
        <tr class="underlined">
          <td>Discount</td>
          <td></td>
          <td>:10%</td>
        </tr>
        <tr>
          <td>SUB TOTAL</td>
          <td></td>
          <td>{{ total - 0.1 * total }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="flexi-container">
    <div>
      <button class="btn btn-lg btn-primary" routerLink="{{routeConstants.routeToProductCatalog}}">
        Continue Shopping
      </button>
    </div>
    <div>
      <button class="btn btn-lg btn-primary">
        Checkout
      </button>
    </div>
  </div>
</div>

<ng-template #showCartEmptyTemplate>
  <div class="text-center">
    <h1>Ooops, Noting Intresting ???</h1>
    <button type="button" class="btn btn-primary" routerLink="{{routeConstants.routeToProductCatalog}}">
      Click Out our Top recommendation !
    </button>
  </div>
</ng-template>
