@import "../../mixins.scss";
@import "../../variables.scss";

.flexi-container {
  margin: auto;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

@media screen and (max-width: 720px) {
  .flexi-container {
    display: block;
  }
  .product-items-block {
    width: 70vw !important;
  }
}

.product-items-block {
  @include table-row-style;
}

.product-head-block {
  @include table-row-style;
  border: none;
}

.bordered {
  .product-head-block {
    @include table-row-style;
    border: none;
    width: 15vw;
  }
}

input {
  border: none;
  align-items: center;
  width: 3vw;
  text-align: center;
}

table {
  font-weight: 700;
}

td {
  button {
    border-radius: 25px;
  }
}

.bordered {
  @include table-row-style;
  width: auto;
}

.product-name-decor {
  color: $checkout-cart-font-color;
}

.btn-outline-warning {
  border-color: $site-blue-color;
}

.underlined {
  border-bottom: 2px solid $site-blue-color;
}
