@import "variables.scss";

@mixin table-row-style {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  border: 4px black solid;
  margin-bottom: 8px;
  padding: 10px;
}

@mixin golden-border {
  border: 1px solid gold;
}