/* You can add global styles to this file, and also import other style files */

@import "variables.scss";
@import "mixins.scss";


@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px;
  }
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.btn-primary {
  background: $site-blue-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.mr-top-6 {
  margin-top: 6%;
}